*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper .big-box{
    box-sizing: 250px;
    border: 250px;
    position: relative;
    top: 200px;
    align-items: center;
    justify-content: center;
    transform: translate(500px);
    width: 300px;
    height: 300px;
    background-color: rgb(218, 171, 171);
    
}
.big-box .box-a{
    width: 50px;
    height: 50px;
    background-color: red;
}
.big-box .box-b{
    position: absolute;
    left: 25px;
    top: 25px;
    width: 50px;
    height: 50px;
    background-color: brown; 
}
.big-box .box-c{
    position: absolute;
    left: 50px;
    top: 50px;
    width: 50px;
    height: 50px;
    background-color: yellow;
}
.big-box .box-d{
    position: absolute;
    left: 150px;
    top: 200px;
    width: 50px;
    height: 50px;
    background-color: green;
}
.big-box .box-f{
    position: absolute;
    left: 250px;
    bottom: 250px;
    width: 50px;
    height: 50px;
    background-color:orange
}
#box-red{
    position: fixed;
    left: 1200px;
    width: 50px;
    height: 50px;
    background-color: red
    
}